/* fix mọi trường hợp */
.ProseMirror * {
  box-shadow: none !important;
}

/* bỏ viền và outline */
.ProseMirror,
.ProseMirror p {
  border: none !important;
  outline: none !important;
}

/* làm đẹp */
.ProseMirror {
  font-size: 18px;
  line-height: 1.8;
}

.btn.active {
  background-color: #80b0f9; 
  color: white;
}
.table-row {
  transition: background-color 0.2s ease;
}

.table-row:hover {
  background-color: #e11f05;
}

.row-actions {
  opacity: 0;
  visibility: hidden;

  transform: translateX(8px);

  transition: all 0.2s ease;

  pointer-events: none;
}

.table-row:hover .row-actions {
  opacity: 1;
  visibility: visible;

  transform: translateX(0);

  pointer-events: auto;
}

.action-btn {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
}
