@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
//row hover
.table-row {
  transition: background-color 0.2s ease;
}

.table-row:hover {
  background-color: #e11f05;
}

.row-actions {
  opacity: 0;
  visibility: hidden;

  transform: translateX(8px);

  transition: all 0.2s ease;

  pointer-events: none;
}

.table-row:hover .row-actions {
  opacity: 1;
  visibility: visible;

  transform: translateX(0);

  pointer-events: auto;
}

.action-btn {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}
@keyframes blink {
  0% {
    opacity: 2;
    color: red;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    color: red;
  }
}

.blink-text {
  animation: blink 1s infinite;
  font-weight: bold;
}
// .card{
//   border-radius: 16px;
//   border: 1px solid #e5e7eb;
//   background: #fff;

//   transition:
//     transform 0.25s ease,
//     box-shadow 0.25s ease,
//     border-color 0.25s ease,
//     background-color 0.25s ease;

//   cursor: pointer;
// }

// /* Hover */
// .card:hover{
//   transform: translateY(-6px) scale(1.02);

//   background-color: #fafafa;

//   border-color: #0d6efd;

//   box-shadow:
//     0 10px 25px rgba(0,0,0,0.08),
//     0 4px 10px rgba(13,110,253,0.08);
// }

.read-the-docs {
  color: #888;
}
/* home page */
.hero-carousel .carousel-inner {
  border-radius: 20px;
}

.hero-carousel img {
  transition: transform 0.5s ease;
}

.hero-carousel:hover img {
  transform: scale(1.02);
}

.hero-carousel .carousel-indicators {
  margin-bottom: 0.5rem;
}